{% extends "layout.html" %}

{% block content %}
<h2>Welcome to the Pharmacy Store</h2>

<section class="hero">
    <section class="info">
        <h2>Your Health, Our Priority</h2>
        <p>Providing exceptional healthcare services to our community.</p>
    
        <div class="center-line"></div>
    
        <h2>About Cloud Care</h2>
        <p>Welcome to Cloud Care, your trusted partner in hospital management. Our cutting-edge system is designed to streamline hospital operations, enhance patient care, and improve overall efficiency. Here's what makes Cloud Care exceptional:</p>

        <div class="center-line"></div>
        <h2>Comprehensive Management</h2>
        <p>Cloud Care offers an all-in-one solution for managing patient information, scheduling, billing, and reporting. Our system is tailored to meet the diverse needs of hospitals, clinics, and healthcare providers, ensuring that all administrative and clinical processes are seamlessly integrated.</p>
        <div class="center-line"></div>
        <h2>Real-Time Analytics</h2>
        <p>Make informed decisions with our real-time analytics and reporting tools. Cloud Care provides actionable insights into hospital operations, patient outcomes, and financial performance. Monitor key metrics, identify trends, and optimize your resources effectively.</p>


        <div class="center-line"></div>
        <h2>24/7 Support</h2>
        <p>We are committed to providing exceptional support. Our dedicated support team is available 24/7 to assist you with any issues or questions. With Cloud Care, you have a reliable partner who is always there to support your hospital's mission.<p>

    </section>
    </ul>
</section>
<div class="contact-page">
    <h3>Contact Us</h3>
    <p>Emergency:7483735082</p>
    <p>Contact Number:8296167362</p>
    <p>Help Desk:6360576587</p>
    <p>Email✉:hospital.carecloud@gmail.com</p>
</div>

{% endblock %}
